@import url('/public/fonts/fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Mikhak";
  overflow-x: hidden;
}
.nav-active{
  border-bottom: 4px solid rgb(189, 170, 0);
}
#MainPage span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  overflow: hidden;
}

#MainPage>div>div::-webkit-scrollbar {
  display: none;
}

#MainPage a {
  display: block;
  text-align: center;
  width: 100%;
  padding: 8px;
}

#MainPage a:hover {
  color: rgb(189, 170, 0);
}

#MainPage a.active:hover {
  color: black;
}

#MainPage .active {
  background-color: rgb(234 179 8 / var(--tw-bg-opacity, 1));
  color: black;
  display: block;
  transition: all;
  transition-duration: 200ms;
}

.leaflet-container{
  width: 100%;
  height: 350px;
}

.leaflet-control-zoom a span{
  padding-bottom: 20px;
}

@media screen and (min-width:1024px) {
  #MainPage .active {
    background-color: white;
    color: rgb(189, 170, 0);
  }

  #MainPage a.active:hover {
    color: rgb(189, 170, 0);
  }
   #MainPage a:hover {
    color: black;
  }
  #MainPage a{
    display: block;
    text-align: center;
    width: 100%;
    padding: 8px;
    color: black;
  }


}